*{
    padding: 0px;
    margin: 0px;
}
/*Top Header Contact_info------------css------*/
.header-top{
    background-color: #ff5a2c;
    overflow: hidden;
}
.container{
    max-width: 1300px;
}
.contact-info{
   color: #ffffff;
   text-decoration: none;
}

/* Header-top End------*/
/*-----------------Main Navbar Start---------------*/
.nav{
    font-size:1.5rem;
    font-family:sans-serif;
}



/*-------------------Cards-------------------------- */
.ourteachers {
    padding: 20px 0px 0px 0px;
}
/*----------- Jumbotron------------------------------ */
.jumbobox {
    padding: 20px 0px 0px 0px;
}
.read-more {
    color: #ffffff;
    background-color: #ff5a2c;
    border-radius: 35px;
    padding: 10px;
    margin: 0px auto 0px auto;
}