*{
    padding: 0px;
    margin: 0px;
}
/*Top Header Contact_info------------css------*/
.header-top{
    background-color: chocolate;
    overflow: hidden;
}
.container{
    max-width: 1300px;
}
.contact-info{
   color: #ffffff;
   text-decoration: none;
}

/* Header-top End------*/
/*-----------------Main Navbar Start---------------*/
.nav{
    font-size:1.5rem;
    font-family:sans-serif;
}
Carousel{

    height: auto;
}