body {
    font-family: 'Merriweather Sans', sans-serif;
}


/* Main Carousel section  */
.main-carousel {
    width: 100%;
}





/* Teachers Carousel Section */
#middle-carousel {
    background-color: #ff5a2c;
    color: #ffff;
    text-align: center;
    padding: 0 15%;
}
.carousel-item {
    padding: 5% 15%;
}
.teachaers-image {
    border-radius: 100%;
    margin: 20px;
}


.message {
    font-size: 1.5rem;
    line-height: 1.5;
}
.message h2 {
    font-size: 3rem;
    color: #000;
}
.message p {
    text-align: justify;
}
.prev {
    background-color: #ff5a2c;
    padding: 10px;
}
